---
layout: base
---
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        {% include breadcrumb.html %}
        <header class="major">
            <h2>{% if page.title %}{{ page.title }}{% else %}{{ page.path | split:'/' | slice:-2 }}{% endif %}</h2>
        </header>
        <div class="row 150%">
            <!-- Content -->
            <div class="8u 12u$(medium)">
                <section id="content">
                    {{ content }}
                </section>
                {% include pager.html %}
            </div>
            <!-- Sidebar -->
            <div class="4u$ 12u$(medium)">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>
